////////////////////////
//  Bootstrap overide
////////////////////////

// Required
@import '../node_modules/bootstrap/scss/functions';

// Default variable overrides
$primary: #514421;
$light: #e8d8c7;
$body-color: $primary;
$dark: #2b2512;
$darker: #231f10;

// Required
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// additional variable overrides
$form-range-track-bg: rgba(var(--bs-white-rgb), 0.7);

// Optimized import https://getbootstrap.jp/docs/5.0/customize/sass/
@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';

@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/close';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/helpers';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/modal';
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/utilities/api';

////////////////////////
//  Additional utilities
////////////////////////

.bg-gray {
  background-color: $gray-500;
}

////////////////////////
//  Specific styles
////////////////////////

.jumbotron {
  font-family: 'DotGothic16', sans-serif;

  background-color: $blue-300;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 200%;
  @include media-breakpoint-up(sm) {
    background-size: 160%;
  }
  @include media-breakpoint-up(md) {
    background-position: center bottom;
    background-size: 120%;
  }
  @include media-breakpoint-up(lg) {
    background-size: 100%;
  }
  @include media-breakpoint-up(xxl) {
    background-size: 80%;
  }

  border-top: solid 2px $primary;
  border-bottom: solid 2px $primary;
  padding-bottom: 8%;
  &.bg-svg {
    background-image: url(/images/jumbotron-bg.svg);
  }
  &.bg-png {
    background-image: url(/images/jumbotron-bg.png);
  }

  .logo-wrapper {
    width: 100%;
    max-width: 240px;
    background-color: $light;
    border: solid 2px $primary;
    border-radius: 2px;
  }
  .dialog {
    background-color: rgba(var(--bs-white-rgb), 0.6);
    border-radius: 2px;
    border: solid 2px $primary;
  }
  .drop-here {
    border: dotted 3px $primary;
    border-radius: 8px;
    cursor: pointer;
    &.dragging {
      background-color: rgba(var(--bs-white-rgb), 0.6);
    }
    img {
      width: 48px;
      pointer-events: none;
    }
    @include media-breakpoint-up(xxl) {
      border-width: 4px;
      img {
        width: 64px;
      }
    }
    .file-input {
      display: none;
    }
  }
}
.preview {
  height: 0px;
  overflow: hidden;
  background-color: $light;
  transition: height 0.3s;
  .preview-header {
    display: flex;
    align-items: center;
    &::before,
    &::after {
      content: '';
      flex-grow: 1;
      height: 1px;
      background-color: $primary;
    }
    &::before {
      margin-right: 8px;
    }
    &::after {
      margin-left: 8px;
    }
  }
  label.h6 {
    display: block;
  }
  .svg-box {
    width: 100%;
    overflow: auto;
  }
}
.information {
  background: linear-gradient($light, $white);
  h2 {
    text-align: center;
    small {
      display: block;
      font-size: 0.5em;
    }
  }
  h3.icon {
    background-size: 1.2em;
    background-repeat: no-repeat;
    padding-left: 1.4em;
    background-position: left center;
    &.icon-box {
      background-image: url('/images/icon-box.svg');
    }
    &.icon-fruits {
      background-image: url('/images/icon-fruits.svg');
    }
    &.icon-pot {
      background-image: url('/images/icon-pot.svg');
    }
    &.icon-shelf {
      background-image: url('/images/icon-shelf.svg');
    }
    &.icon-shop {
      background-image: url('/images/icon-shop.svg');
    }
  }
  p {
    text-indent: 1em;
  }
  dl {
    dt {
      font-weight: 500;
    }
    dd {
      margin-top: 0.25rem;
      code {
        background-color: rgba(var(--bs-black-rgb), 0.6);
        border-radius: 2px;
        color: $white;
        padding: 0.2rem;
        line-height: 1.5rem;
      }
    }
  }
  thead {
    tr {
      background-color: $primary;
      color: $light;
      th {
        font-weight: 500;
        white-space: nowrap;
      }
    }
  }
  tbody {
    tr {
      border-style: solid;
      border-width: 1px 0;
      border-color: $primary;
    }
  }
  th,
  td {
    padding: 0;
  }
  @include media-breakpoint-up(sm) {
    th,
    td {
      padding: 0 0.5rem;
    }
  }
  @include media-breakpoint-up(md) {
    th,
    td {
      padding: 0 1rem;
    }
  }
}

.footer {
  background-color: $dark;
  color: $light;
  font-size: 0.8rem;

  dt {
    font-weight: normal;
    color: $white;
  }
  dd {
    margin-bottom: 0;
  }
  a {
    color: $light;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.bottom-bar {
  background: linear-gradient($darker, $dark);
  color: $light;
  font-size: 0.8rem;
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
