////////////////////////
//  Bootstrap overide
////////////////////////

// Required
@import '../node_modules/bootstrap/scss/functions';

// Default variable overrides
$primary: #514421;
$light: #e8d8c7;
$body-color: $primary;

// Required
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// Optional
@import '~bootstrap/scss/bootstrap.scss';
// TODO: optimize import -> https://getbootstrap.jp/docs/5.0/customize/sass/
// @import "../node_modules/bootstrap/scss/root";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";

////////////////////////
//  Specific styles
////////////////////////

.jumbotron {
  background-color: $blue-300;
  background-image: url(/images/jumbotron-bg.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;

  border-top: solid 2px $primary;
  border-bottom: solid 2px $primary;
  padding-bottom: 8%;

  .logo-wrapper {
    width: 100%;
    max-width: 240px;
    background-color: $light;
    border: solid 2px $primary;
    border-radius: 2px;
  }
  .dialog {
    background-color: rgba(var(--bs-white-rgb), 0.6);
    border-radius: 2px;
    border: solid 2px $primary;
  }
}
.information {
  background: linear-gradient($light, $white);
  h1 {
    text-align: center;
    small {
      display: block;
      font-size: 0.5em;
    }
  }
}
